<form (ngSubmit)="onSubmit()">
<div class="form-control">
  <label for="text">Task</label>
  <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Add Task">
</div>  
<div class="form-control">
  <label for="day&time">Day and Time</label>
  <input type="text" name="day&time" id="day&time" [(ngModel)]="day" placeholder="Add day and time">
</div>  
<div class="form-control form-control-check">
  <label for="reminder">Set reminder</label>
  <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder">
</div>  

<input type="submit" value="Save Task" class="btn btn-block">
</form>